.main-div{
    background-color:whitesmoke;
    /* no height */width: 500px;
    margin: 0 auto;
    position: relative;
    top: 15px;
    border-radius: 15px;
}
.profile-pic{
    position: relative;
    top: 10px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    left: 10px;
}
.dot{
    height: 15px;
    width: 15px;
    position: relative;
    left: 80px;
    bottom: 49px; 
}
.date{
    position: relative;
    color: slateblue;
    bottom: 90px;
    left: 111px;
}
#created-by{
    position: relative;
    left: 108px;
    bottom: 70px;
}
.caption{
    position: relative;
    bottom: 55px;
    width: fit-content;
    left: 50px;
}
.posted-images{
    position: relative;
    bottom: 65px;
}
.like-comment-share{
    display: flex;
}
.like{
    position: relative;
    left: 35px;
    bottom: 10px;
}
.comment{
    position: relative;
    left: 105px;
}
.share{
    position: relative;
    left: 180px;
}
.like:hover,.comment:hover,.share:hover{
    cursor:pointer;
}
.show-like{
    display: flex;
    left: 15px;
    font-size: 20px;
}
.showShare{
    position: relative;
    font-size: 13px;
    left: 350px;
}
.showShare span{
    font-size: 15px;
}
.input-comment{
    position: relative;
    bottom: 65px;
    width: 370px;
    left: 35px;
    outline: none;
    border-color:lightblue ;
    border-radius: 30px;
}
.comment-imgs{
    position: relative;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    left: 15px;
    bottom: 65px;
}
.comment-section button{
    position: relative;
    border-radius: 50px;
    bottom: 65px;
    left: 50px;
}
.comment-img{
    position: relative;
    height: 35px;
    width: 32px;
    border-radius: 50%;
    right: 165px;
}
table tr{
    position: relative;
    bottom: 80px;
}
.comment-user{
    position: relative;
    font-weight:bold ;
    top: 22px;
    right: 125px;
}
.comment-text{
    position: relative;
       right: 180px;
       top: 25px;
    
}